td {
  background: yellowgreen;
  border-style: groove;
  font-size: small;
  display: table-cell;
  vertical-align: top;
}

table {
  width: 70%;
  margin-left: 15%;
}

tr {
  height: 45px;

}
header {
  background: beige;
}
