p {
  font-family: titilliumwebsemibold, sans-serif;
  font-size: 20px;
  font-style: normal;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.alarm {
  font-size: 15px;
  font-style: italic;
  color: crimson;
  font-family: titilliumwebsemibold, sans-serif;
  text-align: center;
}
.text{
  font-size: xx-small;
}

.smallText{
  font-size: 12px;
  line-height: 10px;
  color: rgba(0,0,0,0.6);
  padding: 2px 0 0 0;
  padding-bottom: 0%;
  margin-right: 5%;
  margin-left: 5%;
}
.container mt-sm-0 {
  width: border-box;
}
.form-control {
  width: 90%;
  height: 30px;
  padding: .75rem;
  border: 1px solid #919193;
  font-family: serif;
  margin-right: 5%;
  margin-left: 5%;
}
.container mt-5{
  box-sizing: border-box;
  width: 50%;
  padding-left: 0px;
  padding-bottom: 5%;

  //display: grid;

}
.col-lg-4{
  float: left;
}
.col-sm-6{
  float: left;
  padding-bottom: 5%;
}
.col-lg-8 {
  padding-bottom: 0;
}
.head{
  margin-bottom: 0%;
  font-family: titilliumwebsemibold, sans-serif;
  line-height: 0;
  font-weight: bolder;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 7%;
}
.btn{
  margin-bottom: 2%;
  cursor: pointer;
  color: black;
  background-color: chocolate;
  margin-left: 57%;
  font-weight: bold;
  font-family: Georgia;

}

.header-panel {
  background-color: chocolate;//#4b4b4b;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  padding: 10px 15px;
}

.text-body {
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  background: ivory;
}
h2 {
  margin-bottom: 0%;
  font-size: 24px;
  font-family: Georgia;
  line-height: 26px;
  color: black;
  font-size: large;
  font-weight: bold;
}
body {
  background: beige;
  padding-left: 0%;
}



header {
  background: beige;
}
h1 {
  font-family: titilliumwebsemibold, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 3%;

}
.hr {
  border-top: solid 1px black;
  font-size: 0;
  line-height: 0;
  margin: 40px 0 0 0;
}
.graf {
margin-left: 8%;
}
