<div class="container mt-4">
  <app-header></app-header>
</div>

<div class="container mt-4">
  <p>
    <b>Wypełnij formularz:</b>
  </p>
  <div class="container mt-4">
    <label for="">Login</label>
    <br>
    <input type="text">
    <p class="smallText">Tą nazwą będą podpisywane Twoje komentarze i posty. Nie będziesz mógł jej zmienić po rejestracji.</p>
    <label for="">Hasło</label>
    <br>
    <input type="text">
    <p class="smallText">Przy użyciu tego adresu będziesz mógł się logować</p>
    <label for="">Powtórz hasło</label>
    <br>
    <input type="text">
    <p class="smallText">Przy użyciu tego adresu będziesz mógł się logować</p>
    <label for="">Imię</label>
    <br>
    <input type="text">
    <p class="smallText">Przy użyciu tego adresu będziesz mógł się logować</p>
    <label for="">Nazwisko</label>
    <br>
    <input type="text">
    <p class="smallText">Przy użyciu tego adresu będziesz mógł się logować</p>
    <label for="">Email</label>
    <br>
    <input type="text">
    <p class="smallText">Przy użyciu tego adresu będziesz mógł się logować</p>
  </div>
</div>
<app-footer></app-footer>
