header {
  background: beige;
}

.box {
  display: block;
  background: white;
  padding: 1.25rem;
  width: 100%;
  margin-bottom: 50px;
}
.margin {
  display: block;
}
.margin-bottom {
  padding: 0 0.625rem;
  width: 33.3333%;
  margin-right: 0;
  float: left;
  padding-top: 20px;
}
h2 {
  text-align: center;
}
