<header>
  <div class="margin">
    <div class="s-12 m-6 1-4 margin-bottom">
      <div class="box">
        <h2><b>Nasz zakład</b></h2>
        <p>Głównym faworytem do zwycięstwa w niedzielnych zawodach jest Ryoyu Kobayashi. Japończyk nie dał w
          sobotę żadnych szans rywalom i triumfował z przewagą 26,5 punktu nad drugim Dawidem Kubacki. Triumfator
          Turnieju
          Czterech Skoczni dodatkowo wyrównał rekord skoczni, należący do Adama Małysza (136 m).
        </p>
      </div>
    </div>
    <div class="s-12 m-6 1-4 margin-bottom">
      <div class="box">
        <h2><b>Historia</b></h2>
        <p>Głównym faworytem do zwycięstwa w niedzielnych zawodach jest Ryoyu Kobayashi. Japończyk nie dał w
          sobotę żadnych szans rywalom i triumfował z przewagą 26,5 punktu nad drugim Dawidem Kubacki. Triumfator
          Turnieju
          Czterech Skoczni dodatkowo wyrównał rekord skoczni, należący do Adama Małysza (136 m).
        </p>
      </div>
    </div>
    <div class="s-12 m-6 1-4 margin-bottom">
      <div class="box">
        <h2><b>Fryzjerstwo</b></h2>
        <p>Głównym faworytem do zwycięstwa w niedzielnych zawodach jest Ryoyu Kobayashi. Japończyk nie dał w
          sobotę żadnych szans rywalom i triumfował z przewagą 26,5 punktu nad drugim Dawidem Kubacki. Triumfator
          Turnieju
          Czterech Skoczni dodatkowo wyrównał rekord skoczni, należący do Adama Małysza (136 m).
        </p>
      </div>
    </div>
  </div>
</header>
