.validation {
  color: crimson;
}
.Butlog {
 /* font-family: Ebrima;
  background: dimgray;
  text-align: start;
  color: black;*/

  background-image: none;
  background-color: #4b4b4b;
  color: #ffffff;
  border-radius: 0;
  filter: none;
  padding: 10px 15px;
  cursor: context-menu;
}
label {
  font-family: "Arial Black";
  display: inline;

}

.form-control {
  height: calc(1.75rem + 2px);
  width : 90%;
}
input {
  margin-left: 2px;
}
.form-group {

}
.text-primary {
margin-left: 41%;

}
.btn-info {
  margin-left:1%;
}
.resent {
  text-align: left;
  text-decoration-line: underline;
  font-size: smaller;
  margin-left:1%;
  cursor: context-menu;

  &:hover {
    color: crimson;
  }


}
