<div class="form-group">
  <p class="Butlog">
    <b>Zaloguj się!!!</b>
  </p>

  <label for=""> E-mail</label>
  <input [(ngModel)]="email" (change)="clearInfo()" type="text" class="form-control">

  <label for="">Hasło</label>
  <input [(ngModel)]="password" (change)="clearInfo()" type="password" class="form-control">
  <br>
  <a>
    <button  (click)="onLogin()"  class="btn">Zaloguj</button>
  </a>
  <a class="lo">
    <button (click)="goTo('register')" class="btn">Załóż konto</button>
  </a>
  <p class="validation">{{validationMessage}}</p>
  <div class="hr">&nbsp;</div>

</div>

