.validation {
  color: crimson;
  margin-bottom: 4px;
}

.Butlog {


  background-image: none;
  background-color: chocolate;
  font-weight: bolder;
  font-family: Georgia;

  color: black;
  border-radius: 0;
  filter: none;
  padding: 7px 10px;
  cursor: context-menu;
  font-size: large;
}

label {
  font-family: "Arial Black";
  display: inline;

}

.form-control {
  height: calc(1.75rem + 2px);
  width: 98%;
}

input {
  margin-left: 2px;
}

.form-group {
  margin-bottom: 0;
}


.lo {
  margin-left: 36%;
}

.btn {
  margin-left: 1%;

  margin-bottom: 2%;
  cursor: pointer;
  color: black;
  background-color: chocolate;

  font-weight: bold;
  font-family: Georgia;
}

.resent {
  text-align: left;
  text-decoration-line: underline;
  font-size: smaller;
  margin-left: 1%;
  cursor: context-menu;
  margin-bottom: 0;

  &:hover {
    color: crimson;
  }


}

.hr {
  border-top: solid 1px black;
  font-size: 0;
  line-height: 0;
  margin-left: 1%;
  margin-right: 2%;
  margin-bottom: 2%;
}
