.test {
  padding-top: 20%;
  margin-left: 60px;
}

select {
  margin-left: 60px;
  width: 252px;
  margin-top: 15px;
}

ol {
  margin-left: 60px;
  width: 252px;
  padding-left: 15px;
  padding-right: 15px;

}
