<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="DBtests">
        <classes>
            <class name="com.fryzjerappbackend.controler.RoleControllerTest"/>
            <!--<class name="com.fryzjerappbackend.UserRoleAssociationTest"/>-->
        </classes>
    </test>
</suite>