.custom_nav {
  margin-top: 47.5%;
  padding-left: 0%;
  margin-bottom: 0;
  position: absolute;

  li {
    display: inline;
    float: left;
    padding: 10px 10px;
    background: chocolate;
    //box-shadow: 5px 7px 10px black;
    font-family: Georgia;
    cursor: context-menu;


    &:hover {
      background: burlywood;
      // transform: scale(1.0);
      // transition: ease-in-out;
      //transition-duration: .4s;
      // font-weight: bold;
      // font-size: larger;

    }

    a {

      float: top;

      &:hover {
        box-shadow: black;

      }
    }
  }
}


