<div class="container mt-4">
  <app-header></app-header>
<header>
  <h2><b>Nasze usługi fryzjerskie</b></h2>
  <div class="hr">&nbsp;</div>
<div class="row">

    <div *ngFor = "let serv of services" (click)="onSelect(serv)" class="col-lg-4">

      <span class="btn" (click)="onSelect(serv)" [class.selected]="serv === selectedServ"><U>{{serv.name}}</U></span>
    </div>


  <div *ngIf="selectedServ" class="col-lg-10">

    <h2 class="tit">{{selectedServ.name | uppercase}}</h2>
    <div><span class="time">Czas trwania usługi: </span>{{selectedServ.duration}}</div>
    <div><span  class="price">Cena usługi: </span>{{selectedServ.price}}</div>
    <div class="descr"><span>Opis usługi: </span><br>{{selectedServ.description}}</div>


  </div>
</div>
</header>
</div>
<app-footer></app-footer>
