<div class="container mt-4">
  <app-header></app-header>
  <br>
  <div class="myTitle">
    Cennik Fryzjerski
  </div>
  <br>
  <table>
    <tr>
      <td class="service"><b>Strzyżenie męskie</b></td>
      <td class="description">  -  obcinanie mężczyzn  -  </td>
      <td class="price"> 15 - 30 PLN</td>
    </tr>
    <tr>
      <td class="service"><b>Strzyżenie damskie</b></td>
      <td class="description">  -  obcinanie kobiet  -  </td>
      <td class="price"> 20 - 80 PLN</td>
    </tr>
    <tr>
      <td class="service"><b>Strzyżenie dziecięce</b></td>
      <td class="description">  -  obcinanie dzieci  -  </td>
      <td class="price">10 - 20 PLN</td>
    </tr>
  </table>
</div>
<app-footer></app-footer>
